.enterprise-create-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.create-offer-container {
    margin-left: 8rem;
    width: 80%;
    height: 45vh;
    margin-top: 2rem;
}

.create-input-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    row-gap: 4rem;
    margin-top: 5rem;
}

.create-submit-container {
    margin-top: 5rem;
    width: 90%;
    height: 5rem;
}

#create-submit {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: #5EFFB1;
    border: 0;
    font-weight: bold;
    margin-left: auto;
    float: right;
}

#create-submit:hover {
    cursor: pointer;
}

#error-validate {
    font-size: 1rem;
}
