.enterprise-edit-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.edit-offer-container {
    margin-left: 8rem;
    width: 80%;
    height: 45vh;
    margin-top: 2rem;
}

.edit-input-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    row-gap: 4rem;
    margin-top: 5rem;
}

.edit-submit-container {
    margin-top: 5rem;
    width: 88.5%;
    height: 5rem;
}

#edit-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2.85rem;
    font-size: 0.95rem;
    background: #5EFFB1;
    border-radius: 0.5rem;
    border: 0;
    font-weight: bold;
    margin-left: auto;
    float: right;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0,0,0,0.19);
}

#edit-submit:hover {
    cursor: pointer;
    color: white;
}







