.login-main-container {
    display: flex;
    padding: 1.5rem;
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 10rem;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login-illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3.5rem;
    width: 55%;
}

.login-illustration-container img {
    padding-right: 3.5rem;
}

.login-form-container {
    padding-right: 3.5rem;
    width: 45%;
}

.login-input-container {
    display: flex;
    height: 40rem;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}

.login-fields {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    border-bottom: 1px solid #cccccc;
    height: 5rem;
}

.input-icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 1.5rem;
    height: 100%;
}

.input-field {
    display: flex;
    align-items: center;
    height: 100%;
    width: 85%;
}

.input-field > input {
    color: white;
    background: transparent;
    width: 100%;
    height: 50%;
    font-size: 1.25rem;
    border: 0;
}

#login {
    padding: 0.5rem;
    font-weight: bold;
    background: #5EFFB1;
    border: 0;
    font-size: 1.10rem;
    margin-top: 1.25rem;
    border-radius: 5rem;
    color: white;
}

#login:hover {
    cursor: pointer;
    color: black;
}

.nav-to-register {
    font-size: 1.1rem;
    margin-top: 7.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigate {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #cccccc;
}

#navigate:hover {
    color: black;
}

#navigate span{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
