.enterprise-offers-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
}

.offers-container {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    overflow-y: scroll;
}

.offers-container::-webkit-scrollbar {
    width: 0.35rem;
    background: #cccccc;
    border-radius: 1rem;
}

#filter-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 3.75rem;
    left: 27.25rem;
}

#filter-icon:hover {
    cursor: pointer;
}

.offers-filter-container {
    position: absolute;
    left: 28rem;
    top: 5.85rem;
    width: 9.5rem;
    height: 3.5rem;
    background: white;
    border-radius: 0.5rem;
    display: flex;
    gap: 2.5rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
}

input[type="checkbox"] {
    width: 1.05rem;
    height: 1.05rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
}
