.menu-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.menu-introduction {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5.5rem;
    font-size: 1rem;
}

#menu-icon {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: #5EFFB1;
}
