.enterpriseSidebar-container {
    width: 16.5%;
    height: 99%;
    border-radius: 0px 15px 15px 0px;
}

.sidebar-links-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10rem;
}

#link {
    text-decoration: none;
    font-size: 1.10rem;
    color: black;
    font-weight: bold;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.70rem;
    width: 70%;
    background: #5EFFB1;
    margin-top: 1.5rem;
    border: 0;
}

#setting-icon {
    padding-left: 0.25rem;
    font-size: 1.65rem;
}

#sidebar-plus-icon {
    padding-left: 0.25rem;
    font-size: 1.45rem;
}

#link:hover {
    background: #A9E6C8;
}
