.notification-container {
    width: 25rem;
    right: 3.5rem;
    top: 6rem;
    z-index: 10;
    transition: height 0.5s ease-in-out;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0rem 0rem 1rem 1rem;
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
    animation: pulse 0.65s;
}

@keyframes pulse {
    0% {
        transform: scale(.85);
    }
    70% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.notification-header {
    width: 100%;
    height: 4.5rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.header-icons {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 2rem;
}

.notification-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding-bottom: 1.5rem;
}

.notification-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.notification-img > img {
    width: 50%;
    height: 100%;
    border-radius: 100%;
}

#expiring-category {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #349868;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.10rem;
    top: 2.25rem;
    left: 2rem;
}

.notification-details {
    font-size: 0.85rem;
    width: 70%;
    display: flex;
    align-items: center;
}

#notification-title {
    margin-left: 1rem;
}

#notification-price {
    font-size: 1rem;
    margin-left: auto;
    float: right;
    color: #5EFFB1;
    padding-right: 1.75rem;
}

#expiring-empty {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}
