.action-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 13.5%;
    left: 55rem;
    border-radius: 1rem;
    padding-left: 2rem;
    font-weight: bold;
    color: white;
    top: 9rem;
}

#icon-close {
    margin-left: auto;
    float: right;
    padding-right: 1.25rem;
    font-size: 1.25rem;
}

#icon-close:hover {
    color: #cccccc;
}