@media only screen and (max-width: 400px) {
    .delete-notification-container {
        width: 90%;
        height: 27.5%;
        left: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .delete-warning > p {
        font-size: 1.10rem;
    }
}

@media only screen and (max-width: 400px) {
    #delete-submit {
       font-size: 0.85rem;
        height: 2.15rem;
    }
}

@media (min-width: 1750px) and (max-width: 2050px) {
    .delete-notification-container {
        width: 27.5%;
        height: 27.5%;
    }
}

@media (min-width: 1750px) and (max-width: 2050px) {
    .delete-warning > p {
        font-size: 1.25rem;
    }
}

@media (min-width: 1750px) and (max-width: 2050px) {
    #delete-submit {
        height: 2.30rem;
    }
}
