@media only screen and (max-width: 400px) {
    .enterprise-nav-container {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .enterprise-logo-container {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .enterprise-settings-container > h1 {
        margin-right: 0.35rem;
    }
}

@media only screen and (max-width: 400px) {
    #theme-light {
        margin-left: 2rem;
    }

    #theme-dark {
        margin-left: 2rem;
    }
}

@media (min-width: 1750px) and (max-width: 2050px) {
    .enterprise-logo-container > img {
        width: 7.25rem;
        height: 3.25rem;
    }
}