@media only screen and (max-width: 400px) {
    .offers-grid-container {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        z-index: 10;
        margin-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media only screen and (max-width: 400px) {
    .grid-item {
        background: #212121;
        border-radius: 1.5rem;
        height: 15rem;
        width: 90%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 400px) {
    .offers-empty {
        padding: 0rem;
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 400px) {
    #offers-empty-text {
        font-size: 1.25rem;
    }
}


