body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Rubik';
}

.header-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#favorite-icon {
    font-size: 1.5rem;
    color: #5EFFB1;
    padding-right: 0.5rem;
}

#back-icon {
    font-size: 1.5rem;
}

.nav-back-container {
    width: 75%;
    margin: 0 auto;
}

.nav-back-container span {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 7.5%;
}

.nav-back-container span:hover > #back-icon {
   color: #5EFFB1;
}

.favorites-main-container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.favorites-grid-item {
    margin-top: 2rem;
    height: 20rem;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2.5rem;
}

.offer-image {
    height: 15rem;
    width: 27.5%;
}

.offer-image > img {
    height: 100%;
    width: 87.5%;
    border-radius: 2rem;
}

.offer-description-container {
    height: 15rem;
    width: 72.5%;
}

.offer-description {
    height: 8rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.offer-description h3{
    margin-bottom: -0.75rem;
}

.offer-description span{
    font-weight: 400;
}

.offer-date-container {
    margin-top: 3.5rem;
    font-size: 1.05rem;
    font-weight: 600;
    color: #cccccc;
}


