.offers-section {
    padding: 7.5rem;
}

.headings {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 68%;
    margin: 0 auto;
    margin-top: -4rem;
    padding-bottom: 3.5rem;
    color: #BFBFBF;
}

.headings h2 {
    margin-left: -4.5rem;
}

#heading-icons {
    background: #5EFFB1;
    font-size: 2rem;
    color: white;
    padding: 0.5rem;
    border-radius: 100%;
}

.grid-wrapper {
    width: 100%;
    display: flex;
}

.sideBar-container {
    width: 15%;
    position: relative;
}

.sideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #5EFFB1;
    border-radius: 1rem;
    background: #212121;
    height: 42.5rem;
    width: 3.5%;
    margin-left: 2.5rem;
}

#sideBar-icons {
    font-size: 1.85rem;
    padding-bottom: 2rem;
    color: #5EFFB1;
}

.location-filter {
    color: white;
    background: rgba(33, 33, 33, 0.85);
    border-radius: 0rem 1rem 1rem 0rem;
    width: 0%;
    transition: width 0.75s;
    position: fixed;
    top: 28rem;
    left: 15rem;
}

.location-filter li{
    padding-bottom: 0.5rem;
    list-style: none;
    font-size: 1.15rem;
}

.location-filter li:hover{
    color: #A9E6C8;
    cursor: pointer;
}

#sideBar-icons:hover{
    color: #A9E6C8;
    cursor: pointer;
    animation: pulse 1.25s;
}
@keyframes pulse {
    0% {
        transform: scale(.85);
    }
    70% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}


