@media only screen and (max-width: 400px) {
    .edit-offer-container {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 400px) {
    .edit-input-container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 0;
    }
}

@media only screen and (max-width: 400px) {
    .edit-submit-container {
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    #edit-submit {
        width: 17.5rem;
        height: 2.75rem;
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 400px) {
    #error-validate {
        margin-top: 0.5rem;
    }
}


@media (min-width: 1750px) and (max-width: 2050px) {
    #edit-submit {
        width: 9.5rem;
    }
}

@media (min-width: 1750px) and (max-width: 2050px) {
    #error-validate {
        margin-top: 0.5rem;
    }
}
