.footer-container {
    background: #F1F0F0;
    height: 6rem;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

#footer-social-icons {
    color: black;
    font-size: 1.75rem;
    padding-left: 1rem;
}

#footer-social-icons:hover {
    color: #cccccc;
    cursor: pointer;
}

.logo-container {
    display: flex;
    padding-right: 3rem;
    width: 85%;
    justify-content: end;
    align-items: center;
}

.logo-container img{
    height: 60%;
    width: 6.5%;
}
